# **A Quick Pandas Tutorial**
> ## *Author* : [Rathachai CHAWUTHAI](https://rathachai.creatier.pro/) , Ph.D
> ### *Affiliation* : Computer Engineering, King Mongkut's Institute of Technology Ladkrabang (KMITL)
> #### *Updated Date* : 2022-07-30
---

> <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.



---

## Prerequisite Knowledge
> Python, List, Dictionary, Tuple, Function, Lambda, Numpy, and CSV

## Agenda

**Review**
*   About a Dataset
*   Basic Numpy

**Pandas**
*   Series & Dataframe
*   Read CSV into a Pandas Dataframe
*   Column Selection
*   Row Selection
*   Row and Column Selection (1)
*   Cell Modification
*   Set Index
*   Row and Column Selection (2)
*   Reset Index
*   Range Selection
*   Conditinal Selection
*   Column Operation
*   New Column
*   Drop Row
*   Drop Column
*   Sorting
*   Grouping
*   Iteration
*   Apply Function
*   Save Dataframe into a CSV file

## About a Dataset

Click [https://github.com/Rathachai/DA-LAB/blob/gh-pages/datasets/simple-employee-db.csv](https://github.com/Rathachai/DA-LAB/blob/gh-pages/datasets/simple-employee-db.csv)

## Import Libraries

In [ ]:
import numpy as np
import pandas as pd

## Basic Numpy

In [ ]:
[1,2,3] + [10,10,10]

In [ ]:
[1,2,3] * 3

In [ ]:
np.array([1,2,3]) + np.array([10,10,10])

In [ ]:
np.array([1,2,3]) * 3

In [ ]:
np.arange(5)

In [ ]:
np.arange(5,10)

In [ ]:
np.arange(5,10,2)

In [ ]:
np.random.rand(5)

In [ ]:
np.random.randint(10,20,5)

In [ ]:
np.zeros(5)

In [ ]:
np.ones(5)

In [ ]:
x = np.arange(0,5)

In [ ]:
x

In [ ]:
x.sum()

In [ ]:
np.sum(x)

In [ ]:
x.mean()

In [ ]:
x.min()

In [ ]:
x.max()

In [ ]:
x.std()

In [ ]:
x

In [ ]:
x[2]

In [ ]:
x[0:3]

In [ ]:
x[:3]

In [ ]:
x[3:]

In [ ]:
x[-1]

In [ ]:
x[-2]

## Pandas Series & Pandas Dataframe

In [ ]:
s1 = pd.Series([0, 10, 20])

In [ ]:
s1

In [ ]:
s1.mean()

In [ ]:
s1.max()

In [ ]:
s2 = pd.Series(["A", "B", "C"])

In [ ]:
s2

In [ ]:
df = pd.DataFrame({"name":s2, "working_years":s1})

In [ ]:
df

In [ ]:
type(df)

In [ ]:
type(s1)

In [ ]:
df["name"]

In [ ]:
df[["name"]]

In [ ]:
type(df["name"])

In [ ]:
type(df[["name"]])

## Read CSV into a Pandas Dataframe

In [ ]:
CSV_PATH = "https://rathachai.github.io/DA-LAB/datasets/simple-employee-db.csv"

In [ ]:
df = pd.read_csv(CSV_PATH)

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.tail()

## Column Selection

In [ ]:
df["name"]

In [ ]:
df[["name"]]

In [ ]:
df[["name", "gender", "age"]]

## Row Selection

In [ ]:
df.loc[1]

In [ ]:
df.loc[[1]]

In [ ]:
df.loc[[1,2,3]]

## Row and Column Selection (1)

In [ ]:
df.loc[1,["name","age"]]

In [ ]:
df.loc[[1], ["name","age"]]

In [ ]:
df.loc[[1,2,3], ["name","age"]]

In [ ]:
df[["name","age"]].loc[[1,2,3]]

In [ ]:
df.loc[[1,2,3]][["name","age"]]

## Value Modification

In [ ]:
df[["name","working_years"]]

In [ ]:
df.loc[0,"working_years"] = 77

In [ ]:
df[["name","working_years"]]

In [ ]:
df.loc[[1,2],"working_years"] = 9999

In [ ]:
df[["name","working_years"]]

In [ ]:
df.loc[[1,2],["name","working_years"]] = "MODIFIED"

In [ ]:
df[["name","working_years"]]

In [ ]:
df

## Reload the Dataframe

In [ ]:
df = pd.read_csv(CSV_PATH)

In [ ]:
df

## Set Index

In [ ]:
df.set_index("eid")

In [ ]:
df

In [ ]:
df.set_index("eid", inplace=True)

In [ ]:
df

## Row and Column Selection (2)

In [ ]:
df.loc[["E011","E012"], ["name", "salary"]]

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[[0]]

In [ ]:
df.iloc[[0,1]]

In [ ]:
df.iloc[[0,1]][["name","gender"]]

## Reset Index

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df

## Reload the Dataframe

In [ ]:
df = pd.read_csv(CSV_PATH)

In [ ]:
df

## Range Selection

In [ ]:
df.loc[1:4]

In [ ]:
df.loc[:4]

In [ ]:
df.loc[4:]

In [ ]:
df.loc[1:3,["name","age"]]

In [ ]:
df.iloc[1:4]

In [ ]:
df.iloc[1:4][["name","age"]]

## Conditional Selection

In [ ]:
df

In [ ]:
df[["working_years"]]

In [ ]:
df["working_years"]>3

In [ ]:
df[df["working_years"]>3]

In [ ]:
df[df["working_years"]>3][["name","working_years", "salary"]]

In [ ]:
df[ (df["working_years"]>3) & (df["salary"]>70000) ]

In [ ]:
df[ (df["working_years"]>3) | (df["salary"]>70000) ]

In [ ]:
df[ (df["working_years"]>3) | (df["salary"]>70000) ].iloc[[3]]

In [ ]:
df[ (df["working_years"]>3) | (df["salary"]>70000) ].loc[[3]]

## Column Operation

In [ ]:
df["salary"]

In [ ]:
df["salary"]*12

In [ ]:
df["salary"]*df["working_years"]

## New Column

In [ ]:
df

In [ ]:
df["country"] = "Thailand"

In [ ]:
df

In [ ]:
df["bonus"] = df["salary"]*df["working_years"]

In [ ]:
df

## Drop Row

In [ ]:
df.drop(7)

In [ ]:
df

In [ ]:
df.drop(7, inplace=True)

In [ ]:
df

In [ ]:
df.drop([0,1,2])

## Drop Column

In [ ]:
df.drop("country", axis=1)

In [ ]:
df.drop(["country","bonus"], axis=1)

In [ ]:
df

In [ ]:
df.drop(["country","bonus"], axis=1, inplace=True)

In [ ]:
df

## Reload the Dataframe

In [ ]:
df = pd.read_csv(CSV_PATH)

In [ ]:
df

## Sorting

In [ ]:
df.sort_values("salary")

In [ ]:
df.sort_values(["department","salary"])

In [ ]:
df.sort_values("salary", ascending=False)

In [ ]:
df

In [ ]:
df.sort_values("salary", ascending=False, inplace=True)

In [ ]:
df

In [ ]:
df.loc[0:2]

In [ ]:
df.iloc[0:2]

## Grouping

In [ ]:
df

In [ ]:
df.groupby("department").mean()

In [ ]:
df.groupby("department").max()

In [ ]:
df.groupby(["department","gender"]).mean()

In [ ]:
df.groupby(["gender","department"]).mean()

In [ ]:
df_group_obj = df.groupby("department")

In [ ]:
df_group_obj

In [ ]:
df_group_obj.mean()

In [ ]:
df_group_obj.max()

In [ ]:
df.groupby("department").min()

In [ ]:
df.groupby("department").count()

In [ ]:
df.groupby("department").agg({"mean", "count"})

In [ ]:
df.groupby("department")["age"].agg({"mean", "count"})

In [ ]:
df.groupby("department")[["age"]].agg({"mean", "count"})

In [ ]:
df.groupby("department").agg({"age":"min", "salary":"mean"})

In [ ]:
df.groupby("department").agg({"age":["min","max"], "salary":"mean"})

In [ ]:
dfg = df.groupby("department").agg({"age":["min","max"], "salary":"mean"})

In [ ]:
dfg

In [ ]:
dfg.columns

In [ ]:
dfg[('age','min')]

In [ ]:
dfg[[('age','min'),('salary','mean')]]

In [ ]:
dfg.columns

In [ ]:
["_".join(x) for x in dfg.columns]

In [ ]:
dfg.columns = ["_".join(x) for x in dfg.columns]

In [ ]:
dfg

In [ ]:
dfg[["age_min"]]

In [ ]:
dfg.reset_index()

In [ ]:
dfg.reset_index(inplace=True)

In [ ]:
dfg

## Reload the Dataset

In [ ]:
df = pd.read_csv(CSV_PATH)

## Iteration

In [ ]:
for index, row in df.iterrows():
  print(index)

In [ ]:
for index, row in df.iterrows():
  print(row["eid"], row["name"], row["salary"])

In [ ]:
for index, row in df.iterrows():
  #row["shoud_pay_ot"] = "Something" << is not worked
  if row["salary"]>70000:
    df.loc[index,"should_pay_ot"] = "NO"
  elif row["salary"]>50000:
    df.loc[index,"should_pay_ot"] = "MAY BE"
  else:
    df.loc[index,"should_pay_ot"] = "YES"

In [ ]:
df

## Reload the Dataset

In [ ]:
df = pd.read_csv(CSV_PATH)

## Apply Function

In [ ]:
np.log10(1000)

In [ ]:
df["salary"]

In [ ]:
df["salary"].apply(np.log10)

In [ ]:
df["salary"].apply(np.sqrt)

In [ ]:
def times10(num):
  return num*10

In [ ]:
times10(5)

In [ ]:
df["age"]

In [ ]:
df["age"].apply(times10)

In [ ]:
df["age"].apply(lambda x: x*10)

In [ ]:
def consider_ot_payment(salary):
  result = ""
  if salary>70000:
    result = "NO"
  elif salary>50000:
    result = "MAY BE"
  else:
    result = "YES"
    
  return result

In [ ]:
consider_ot_payment(80000)

In [ ]:
consider_ot_payment(60000)

In [ ]:
consider_ot_payment(30000)

In [ ]:
df["salary"].apply(consider_ot_payment)

In [ ]:
df["should_pay_ot"] = df["salary"].apply(consider_ot_payment)

In [ ]:
df

## Save into a CSV file

In [ ]:
df.to_csv("employee.csv")

In [ ]:
pd.read_csv("employee.csv")

In [ ]:
df.to_csv("employee.csv", index=False)

In [ ]:
pd.read_csv("employee.csv")



---
https://rathachai.creatier.pro/

## つづく